@model EventOrg2027.Models.Eventos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEventos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEventos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lotacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraRealizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraRealizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEventos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoEventos.NomeTipoEventos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizador.NomeOrganizador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
