@model EventOrg2027.Models.Eventos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>.</h4>

<div>

    <h3 class="text-center">@Html.DisplayFor(model => model.NomeEventos)</h3>

    <hr />

    <div>
        <div>
            @Html.DisplayFor(model => model.TipoEventos.NomeTipoEventos)
        </div>

        <div>
            @Html.DisplayFor(model => model.Localidade.NomeLocalidade) 
        </div>

        <div>
            Lotação @Html.DisplayFor(model => model.Lotacao)
        </div>
    </div>

    <hr />

    <div>
        Este evento irá ser realizado @Html.DisplayFor(model => model.DataRealizacao.ToString("dd-MM-yyyy"))

        ás @Html.DisplayFor(model => model.HoraRealizacao)


    </div>

    <div>
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <hr />

    <div>
        Organizador @Html.DisplayFor(model => model.Organizador.NomeOrganizador)
    </div>

    <hr />
        <div>
            <p></p>
            <a asp-action="#" class="btn btn-primary" asp-route-id="@Model.EventosId">Registar Presença</a> 
            <p></p>
            <p><a asp-action="Index" class="btn btn-dark">Voltar para a lista</a></p>
        </div>
    
</div>