@model InscricaoListViewModel
@{
    ViewData["Title"] = "Lista De Inscrições";
}
<header class="masthead2 text-center">

    <h1>@ViewBag.Title </h1>

    <form asp-action="Reservas" method="get">
        <p>
            <input type="search" name="name" placeholder="Procurar por nome" value="@Model.SearchName" />
            <input name="page" type="hidden" value="1" />
            <button type="submit" value="Search" class="btn-primary"><i class="fa fa-search"></i></button>
            <a class="button button2" asp-action="Reservas"><i class="fas fa-chevron-left"></i></a>
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome do Evento
                </th>
                <th>
                    Data de Realização
                </th>
                <th>
                    Hora
                </th>
                <th>
                    Inscrição
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.inscricaos)
            {
                <tr>
                    <td>
                        @item.EventoNome
                    </td>
                    <td>
                        @item.DataRealizacao.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.HoraRealizacao.ToString("hh\\:mm")
                    </td>
                    <th>
                        @item.DataInscricao
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <nav class="mt-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Reservas" asp-route-page="1">Primeira</a></li>

            @{ int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages; }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Pagination.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Reservas" asp-route-page="@p">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Reservas" asp-route-page="@Model.Pagination.TotalPages">Última</a></li>
        </ul>
    </nav>
</header>