@model EventOrg2027.Models.Localidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Localidade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLocalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeLocalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Populacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Populacao)
        </dd>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.LocalidadeId" class="btn btn-primary">Edit</a>
            <p></p>
            <p><a asp-action="Index" class="btn btn-dark">Back to List</a></p>
        </div>
    </dl>
    
</div>

