@model LocalidadesListViewModel

@{
    ViewData["Title"] = "Localidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead2 text-center">
    <h1>@ViewBag.Title </h1>


    <p>
        <a asp-action="Create" style="font-size: 1vw">Criar Novo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome Localidade
                </th>
                <th>
                    População
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Localidades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.NomeLocalidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Populacao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.LocalidadeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@p.LocalidadeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@p.LocalidadeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</header>