@model LocalidadesListViewModel

@{
    ViewData["Title"] = "Localidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead2 text-center">
    <h1>@ViewBag.Title </h1>


    <p>
        <a asp-action="Create" style="font-size: 1vw">Create New</a>
    </p>

        <div class="cardeventos-body">
            @foreach (var p in Model.Localidades)

            {

                <div class="cardeventos ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 1.5vw">@p.NomeLocalidade</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 0.7vw">@p.Populacao</h6>
                        <p class="card-text" style="font-size: 0.9vw">@p.Descricao</p>
                        <p><buton style="font-size: 0.8vw">Ver</buton></p>
                        <a asp-action="Edit" text-color="white" asp-route-id="@p.LocalidadeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@p.LocalidadeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@p.LocalidadeId">Delete</a>
                    </div>
                </div>
                }
        </div>

    <nav class="mt-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1">First</a></li>

            @{ int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                            if (initalPage < 1) initalPage = 1;

                            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages; }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Pagination.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li> }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages">Last</a></li>
        </ul>
    </nav>
</header>