@model EventOrg2027.Models.Organizador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>.</h4>

<div>
    <h3>Detalhes Organizador</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Organizador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeOrganizador)
        </dd>
        <dt class="col-sm-2">
            Contacto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class="col-sm-2">
            Data da Parceria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <div>
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.OrganizadorId">Editar</a> 
            <p></p>
            <p><a asp-action="Index" class="btn btn-dark">Voltar para a lista</a></p>
        </div>
    </dl>


</div>

