@model OrganizadorListViewModel

@{
    ViewData["Title"] = "Organizadores";
}

<header class="masthead2 text-center">
    <h1>@ViewBag.Title </h1>

    <p>
        <a asp-action="Create">Criar Novo</a>
    </p>
    <form asp-action="Index" method="get">
        <p>
            <input type="search" name="name" placeholder="Procurar por nome" value="@Model.SearchName" />
            <input name="page" type="hidden" value="1" />
            <button type="submit" value="Search" class="btn-primary"><i class="fa fa-search"></i></button>
            <a class="button button2" asp-action="Index"><i class="fas fa-chevron-left"></i></a>
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Organizador ou Organização
                </th>
                <th>
                    Contacto
                </th>
                <th>
                    Data da Parceria
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Organizadors)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeOrganizador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <th>
                    @Html.DisplayFor(model => item.EmailAddress)
                </th>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OrganizadorId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.OrganizadorId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.OrganizadorId">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav class="mt-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1">Primeira</a></li>

            @{ int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages; }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Pagination.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-name="@Model.SearchName">Última</a></li>
        </ul>
    </nav>
</header>